.topLine{
  border:1px solid #3d8361;
  height:60px;
  width: 100%;
  background-color: #3d8361;
}

.topLine p{
  border:0px solid #3d8361;
  margin-top: 20px;
  height:22.5px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navbar{
  height:120px;
  display: flex;
}

.logo{
  height:89.95px;
}

.innerNav{
  display: flex;
}